<%- include('../partials/header') %>
    <div class="card mt-5 mb-5">
        <div class="card-header p-4">
            <div class="m-3 row">
                <div class="col-sm-1">
                    <a href="/todos/avatar">
                        <img src="/uploads/<%= avatar %>" alt="img"
                            style="border-radius: 50%;object-fit: cover; width: 4rem; height:4rem ; object-position: center;">
                    </a>
                </div>
                <div class="col-sm-9">
                    <h2>
                        <%= email %>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <a href="/todos/signout" class="btn btn-secondary ms-5"><i
                            class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
                </div>
            </div>
            <hr>
            <h1 class="text-center">PostgreSQL Breads(Browse, Read, Edit, Add, Delete, Sort)</h1>
        </div>
        <form action="" autocomplete="off">
            <input type="hidden" name="page" value="1">
            <input type="hidden" name="sortBy" value="id">
            <input type="hidden" name="sortMode" value="asc">
            <div class="m-3 row">
                <label for="name" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" value="<%= title %>"
                        placeholder="Insert your title">
                </div>
            </div>
            <div class="m-3 row">
                <label for="complete" class="col-sm-2 col-form-label">Complete</label>
                <div class="col-sm-10">
                    <select id="complete" class="form-select" name="complete">
                        <option value="" selected>- Select Complete -</option>
                        <option value="true" <%=complete=="true" ? "selected" : "" %>>Yes</option>
                        <option value="false" <%=complete=="false" ? "selected" : "" %>>Not yet</option>
                    </select>
                </div>
            </div>
            <div class="m-3 row">
                <label for="deadlineFrom" class="col-sm-2 col-form-label">Deadline</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="deadlineFrom" name="deadlineFrom"
                        value="<%= deadlineFrom %>">
                </div>
                <div class="col-sm-2">
                    <span class="text-center d-block">s.d</span>
                </div>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="deadlineTo" name="deadlineTo" value="<%= deadlineTo %>">
                </div>
            </div>
            <div class="m-3 row">
                <label for="" class="col-sm-2 col-form-label">Operation</label>
                <div class="form-check col-sm-1">
                    <input class="form-check-input" type="radio" name="operation" id="operationOr" value="OR"
                        <%=operation=="OR" ? "checked" : "" %>>
                    <label class="form-check-label" for="operationOr">OR</label>
                </div>
                <div class="form-check col-sm-1">
                    <input class="form-check-input" type="radio" name="operation" id="operationAnd" value="AND"
                        <%=operation=="AND" ? "checked" : "" %>>
                    <label class="form-check-label" for="operationAnd">AND</label>
                </div>
            </div>
            <div class="m-3 row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <a href="/todos" class="btn btn-warning"><i class="fa-solid fa-rotate"></i></a>
                </div>
            </div>
        </form>

        <div class="m-3 row">
            <hr>
        </div>

        <table class="table table-striped">
            <thead>
                <th>No.</th>
                <th><a href="/todos<%= sortBy != 'title' ? url.replace(`sortBy=${sortBy}`, `sortBy=title`) : sortMode != 'asc' ? url.replace(`sortMode=${sortMode}`, `sortMode=asc`) : url.replace(`sortMode=${sortMode}`, `sortMode=desc`) %>" style="text-decoration: none; color: #000000;">Title <i class="fa-solid <%= sortBy != 'title' ? 'fa-sort' : sortMode != 'asc' ? 'fa-sort-down' : 'fa-sort-up' %>"></i></a></th>
                <th><a href="/todos<%= sortBy != 'complete' ? url.replace(`sortBy=${sortBy}`, `sortBy=complete`) : sortMode != 'asc' ? url.replace(`sortMode=${sortMode}`, `sortMode=asc`) : url.replace(`sortMode=${sortMode}`, `sortMode=desc`) %>" style="text-decoration: none; color: #000000;">Complete <i class="fa-solid <%= sortBy != 'complete' ? 'fa-sort' : sortMode != 'asc' ? 'fa-sort-down' : 'fa-sort-up' %>"></i></a></th>
                <th><a href="/todos<%= sortBy != 'deadline' ? url.replace(`sortBy=${sortBy}`, `sortBy=deadline`) : sortMode != 'asc' ? url.replace(`sortMode=${sortMode}`, `sortMode=asc`) : url.replace(`sortMode=${sortMode}`, `sortMode=desc`) %>" style="text-decoration: none; color: #000000;">Deadline <i class="fa-solid <%= sortBy != 'deadline' ? 'fa-sort' : sortMode != 'asc' ? 'fa-sort-down' : 'fa-sort-up' %>"></i></a></th>
                <th>actions</th>
            </thead>
            <tbody>
                <% datas.forEach((data, index)=> { %>
                    <tr>
                        <td class="<%= data.deadline < data.now ? 'outdated' : '' %>">
                            <%= index + offset + 1 %>
                        </td>
                        <td class="<%= data.deadline < data.now ? 'outdated' : '' %>">
                            <%= data.title %>
                        </td>
                        <td class="<%= data.deadline < data.now ? 'outdated' : '' %>">
                            <%= data.complete ? "Done" : "Not yet" %>
                        </td>
                        <td class="<%= data.deadline < data.now ? 'outdated' : '' %>">
                            <%= data.reformat %>
                        </td>
                        <td class="<%= data.deadline < data.now ? 'outdated' : '' %>">
                            <a href="/todos/edit/<%= data.id %>" class="btn btn-success"><i
                                    class="fa-solid fa-pen"></i></a>
                            <a href="/todos/delete/<%= data.id %>" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal<%= data.id %>"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        <div class="modal fade" id="deleteModal<%= data.id %>" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah kamu yakin akan menghapus data '<%= data.title %>'
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary w-25"
                                            data-bs-dismiss="modal">No</button>
                                        <a href="/todos/delete/<%= data.id%>" class="btn btn-warning w-25">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <div class="card-footer">
            <div class="m-3 row">
                <div class="col-sm-5">
                    <a href="/todos/add" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
                </div>
                <div class="col-sm-7 d-flex justify-content-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <% if (page> 1){ %>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="/todos<%= url.replace(`page=${page}`, `page=${Number(page) - 1}`) %>"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <% }%>
                                    <% for (let i=1; i <=pages; i++){ %>
                                        <li class="page-item">
                                            <a class="page-link <%= page == i ? 'active' : '' %>"
                                                href="/todos<%= url.replace(`page=${page}`, `page=${i}`) %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>
                                            <% if (page < pages){ %>
                                                <li class="page-item">
                                                    <a class="page-link"
                                                        href="/todos<%= url.replace(`page=${page}`, `page=${Number(page) + 1}`) %>"
                                                        aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                <%}%>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <%- include('../partials/footer') %>